
.futuristic-background {
  background: radial-gradient(circle at 50% 0%, #112211 0%, #050505 60%, #000000 100%);
}

@keyframes move-grid {
  0% {
    background-position: center center, 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-position: center center, 1000px 1000px, -1000px -1000px, 500px 500px, -500px -500px;
  }
}
