
.futuristic-background {
  background: radial-gradient(circle at center, #0a1f0a 0%, #000000 100%);
}

@keyframes move-grid {
  0% {
    background-position: center center, 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-position: center center, 1000px 1000px, -1000px -1000px, 500px 500px, -500px -500px;
  }
}
